<%= form_for(@appliance) do |f| %>
    <% if @appliance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appliance.errors.count, "error") %> prohibited this appliance from being saved:</h2>

          <ul>
            <% @appliance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
